h1,h2,h3,h4{
	font-family: 'Dosis', sans-serif;

}

.img-circle{
    width: 140px;
    height: 140px;
    overflow: hidden;
    text-align:center;
    border-radius: 50%;
    background-color:#ddd;
}
.img-circle.small{
    width:90px;
    height:90px;
}
.img-circle img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.dialog-aside{
	position: relative;
	width: 100%;
	padding-top: 240px;
}
.dialog-aside .img-circle{
	position: absolute;
	top:-10px;
	left:85px;
	height: 210px;
	width: 210px;
}

.city-dialog h1{
    font-size: 3.1125rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.city-dialog{
	padding-left: 0;
	padding-right: 0;
}
.city-dialog .dialog-aside, .city-dialog .dialog-content{
	padding-left: 50px;
	padding-right: 50px;
}
.city-dialog .dialog-content{
	margin-top:2em;
	padding-top: 1em;
}
.main-bg{
    background-image: url('bg_leather.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.main-bg footer{
    background-color:rgba(25,25,25,0.7);
}


.gallery{ overflow:auto; clear:both;}
.gallery > a{
    float:left;
    width:110px;
    height:110px;
    margin:5px;
    overflow:hidden;
    background-color:#cf821c;
}
.gallery > a > img{
    width:100%;
    height:auto;
    transition: all 0.4s;
}
.gallery > a:hover > img{
    opacity:0.8;
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
}

.btn-action{
    height:100px;
    width:100px;
    border-radius:50%;
    line-height:75px;
    margin-top:-35px;
}
.btn-action i{ font-size:40px;}
.city-dialog .dialog-aside p{
		font-size: 0.9em;
		text-align: justify;
	}
@media (max-width: 420px){
	.city-dialog .dialog-content:before{
		top:94vh;
		z-index: -3;
	}
	.city-dialog .dialog-aside{
		font-size: 0.9em;
	}

	.city-dialog .dialog-aside, .city-dialog .dialog-content{
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media (min-width: 720px){
	.city-dialog .dialog-aside{
		position: absolute;
		left: 50px;
		width: 340px;
		padding-right: 0;
	}
	.dialog-aside .img-circle{
		left:35px;
	}

	.city-dialog{
		padding-left: 400px;
	}
	.city-dialog .dialog-content{
		padding-top:120px;
		padding-left: 20px;
		margin-top:0;
		background-color: transparent;
	}
	.city-dialog .dialog-content:before{
		display: none;
	}
}

#main-content{ margin-top: 3.5rem; }
.jumbo-header{
	padding:13vh 0 15vh 0;
	background-color: #adadad;
	background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;
	    color:#fff;
	    text-shadow: 0 0 15px #000, 0 0 15px #000;
}
#mainmenu{
	background-color: #361f17;
	font-family: 'Dosis', sans-serif;
	z-index: 2500;
}
#mainmenu .nav-link, #mainmenu .navbar-toggler{
	color:#bd8d1a;
	z-index: 100;
	text-shadow: 0px -2px 3px rgba(255,255,255,.3), 0px 2px 3px rgba(0,0,0,.7), 0px -4px 6px rgba(255,255,255,.05), 0px 4px 6px rgba(0,0,0,.3);
}
#mainmenu .navbar-brand img{
	max-height: 100%;
}
#mainmenu .collapse-brand{ display: none; }
@media (max-width: 992px){

	.navbar-collapse {
		background-color: #361f17;
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    background-image: url('bg_leather.jpg');
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;

	}
	.navbar-collapse.collapse, .navbar-collapse.collapsing{
		opacity: 0;
		transition: opacity 0.5s, height 0.001s 0.1s;
	}
	.navbar-collapse.collapse.show {
	    height: 100vh;
	    opacity: 1;
	    transition: opacity 0.5s, height 0.001s;
	}
	.nav-item{
		width:100%;
		text-align: center;
	}
	.nav-item .nav-link{ padding: 1.8em 0;     font-size: 1.4rem;}
	.navbar-nav {
	    height: 50vh;
	    font-size: 1.8em;
	    width: 100%;
	    top:50%;
	    padding:14rem 0 7rem 0;
	    position: absolute;
	    margin-top:-50vh !important;
	}
	#mainmenu a.collapse-brand{ 
		display: block;
		cursor: pointer;
		z-index: 100;
		margin:auto; 
		position: absolute;
		top:10%;
		width: 100%;
		text-align: center;
	}
	#mainmenu .collapse-brand img{
		width: 80%;
		max-width: 250px;
	}
}

.hotel-list .list-group-item{
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	font-size:1.1em;
}
.hotel-list em{
	font-style: normal;
	color: #444;
	font-weight: lighter;
}
.badge.badge-primary.badge-pill{
	background-color: #361f17;
	color:#efb62f;
	font-family: 'Dosis', sans-serif;
	padding-left: 0.8em;
	padding-right: 0.8em;
}
footer{
	margin-top:4rem;
	background-color: #333;
	color: #fafafa;
}
footer a, footer a:hover{
	color:#efb62f;
}

.navbar-toggler .icon-bar {
  margin: 0 auto;
  position: relative;
  top: 0;
}
.navbar-toggler .icon-bar:before, .navbar-toggler .icon-bar:after {
  position: absolute;
  content: '';
}
.navbar-toggler .icon-bar, .navbar-toggler .icon-bar:before, .navbar-toggler .icon-bar:after {
  width: 24px;
  height: 3px;
  background-color: #efb62f;
  display: block;
}
.navbar-toggler .icon-bar:before {
  margin-top: -7px;
  -webkit-transition-property: margin, -webkit-transform;
  -webkit-transition-duration: .2s;
  -webkit-transition-delay: .2s, 0;
  transition-property: margin, transform;
  transition-duration: .2s;
  transition-delay: .2s, 0;
}
.navbar-toggler .icon-bar:after {
  margin-top: 7px;
  -webkit-transition-property: margin, -webkit-transform;
  -webkit-transition-duration: .2s;
  -webkit-transition-delay: .2s, 0;
  transition-property: margin, transform;
  transition-duration: .2s;
  transition-delay: .2s, 0;
}
.navbar-toggler .icon-bar{
  -webkit-transition-duration: .2s;
  -webkit-transition-delay: .2s;
  transition-duration: .2s;
  transition-delay: .2s;
}
.navbar-toggler:not(.collapsed) .icon-bar {
  background-color: rgba(0,0,0,0.0);
}
.navbar-toggler:not(.collapsed) .icon-bar:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  -webkit-transition-delay: 0, .2s;
  transform: rotate(45deg);
  transition-delay: 0, .2s;
}
.navbar-toggler:not(.collapsed) .icon-bar:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  -webkit-transition-delay: 0, .2s;
  transform: rotate(-45deg);
  transition-delay: 0, .2s;
}


.card{
    background-color:#f1ecec;
}

.form-control:focus, .form-control-file:focus, .custom-select:focus {
    border-color: #cf821c;
    box-shadow: inset 0 -2px 0 -1px #cf821c;
 }
 .btn-primary, .btn-primary.active, .btn-primary:active {
    background-color: #361f17;
    color: #efb62f;
}
.stepper{     padding: 2.2rem 1.5rem;}
.stepper.active .stepper-icon, .stepper.done .stepper-icon, .picker-date-display {
    background-color: #361f17;
}
.picker-day-today, .btn-outline-primary{ color: #361f17; }
.picker-day.picker-day-selected{
    background-color:#cf821c;
}

.custom-switch .custom-control-input:checked ~ .custom-control-track {
    background-color: rgba(178, 81, 48, 0.7);
}
.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #cf821c;
}
.btn-secondary{
    background-color: #cf821c;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #cf821c;
}