{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Mis Reservas{% endblock %}

{% block bodyattrs %} class="softbg"{% endblock%}

{% block content %}

<div class="container pt-4 mb-5">
<h2 class="mb-3">Reservas en curso</h2>
<div class="card">

    <div class="card-body">

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </div>


<div class="table-responsive mb-4">
<table class="table table-hover" {% if ajax_url %} data-ajax-url="{{ajax_url}}" {% endif %}>
  <thead>
    <tr>
      <th scope="col">Usuario</th>
      <th scope="col">¿Húesped?</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
    </tr>
  </thead>
  <tbody>
{% for rental in rentals %}
    <tr data-id="{{user.pk}}">
      <td class="entity-td">
          <div class="profile-circle small">
              {% if entity.logo %} <img src="{{entity.logo_thumbnail.url}}"> {%endif%}
          </div>

          <h5 class="mb-0">{{rental.client.get_full_name}}</h5>
          {{rental.client.username}}
        </td>
        <td>{% if rental.is_guest %} <i class="material-icons">check</i> {%endif%}</td>
        <td>{{rental.day|date:'d/m/Y'}}</td>
        <td>{{rental.time}}</td>
        <td class="table-actions">
            <a class="btn btn-outline-primary" href="#"  data-toggle="tooltip" data-placement="bottom" title="Ver detalle"><i class="material-icons">visibility</i></a>
            {% if rental.status == 'checkin' %}
                <a class="btn btn-secondary" href="#"><i class="material-icons mr-2">call_received</i> Devolución</a>
            {% else %}
                <a class="btn btn-primary" href="#"><i class="material-icons mr-2">call_made</i> Retirada</a>
            {% endif %}

        </td>

    </tr>
{% empty %}
    <tr>
      <td colspan="4">Aún no has realizado ninguna reserva...</td>
    </tr>

{% endfor %}
      </tbody>
</table>
</div>



</div>

    </div>
</div>



{% endblock %}