<!DOCTYPE html>
{% load belongs_to_group %}
{% load staticfiles %}
{% load settings_value %}

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Inicio{% endblock title%} | ViCCi</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
    <link href="{% static "css/magnific-popup.css" %}" rel="stylesheet" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/material.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}?v=3" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400" rel="stylesheet">
    <meta name="theme-color" content="#361f17">
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    {% block extra_styles %}{% endblock extra_styles %}
</head>
<body {% block bodyattrs %}{% endblock%}>


{%if request.user|belongs_to_group:'hotel_managers' %}
    {% include 'navbar/navbar_hotel_manager.html' %}
{% else %}
    {% include 'navbar/navbar_default.html' %}
{% endif %}



<div id="main-content">
        {% block content %}{% endblock content %}
     <div class="toast-messages" id="main-toasts">
       {% for message in messages %}
        <div class="toast {% if message.tags %}{{ message.tags }}{% endif %}">
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<strong>Ouch!</strong> {% endif %}
            {{ message }}
        </div>
        {% endfor %}
        {% block toast_messages %}{% endblock toast_messages %}
   </div>

    <footer class="footer py-4 text-center">
        <div class="container">
          <p>Vicci <i class="material-icons">copyright</i> 2018</p>
          <p>FINEZZA . AVVENTURA . PASSIONE</p>
          <p>
            <a href="#"><i class="material-icons">keyboard_arrow_up</i></a>
          </p>
      </div>
    </footer>

</div>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/uiMorphingButton_fixed.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <!-- Then Material JavaScript on top of Bootstrap JavaScript -->
    <script src="{% static 'js/material.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}?v=2"></script>
    {% block scripts %}{% endblock scripts %}
	</body>
</html>
