{% extends 'base.html' %}
{% load staticfiles %}
{% load settings_value %}
{% load l10n %}
{% block title %}{{hotel.name}}{% endblock %}

{% block bodyattrs %}  {% endblock%}

{% block content %}


<div class="route-list">
    <div class="route-description">
        <h2>DaViCCi - Mi momento</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>

    <div class="bg-light py-2 px-3">
        <h4 class="mb-0">Mi ruta</h4>
    </div>
    <div id="route-summary" class="bg-light pt-0 pb-3 mb-3 px-3" style="display:none;">
        <div class="d-inline-block">
            <strong> Tiempo de viaje:</strong> <span class="time">24 minutos</span><br>
            <strong> Distancia:</strong> <span class="distance">11 km</span> <br>
        </div>
        <a href="{%url 'hotel_book' pk=hotel.pk %}" class="btn btn-lg btn-primary align-top ml-3 float-right" style="margin-top:-20px;"><i class="material-icons mr-2">directions_bike</i>Reservar</a>
    </div>

    <div class="text-right pr-4" style="margin-bottom:-15px;">
         <a href="#" class="btn btn-primary btn-action small" id="calculate-route" data-toggle="tooltip" data-placement="bottom" title="Calcular ruta"><i class="material-icons">directions</i></a>
    </div>

    <dív id="selected-points" class="points-list">
        <div class="no-selected-points py-3 px-3">
            Aún no has seleccionado ningún micromomento.
        </div>
    </dív>

    <div class="bg-light py-2 px-3 action-bar">

        <h4 class="mb-0">Micromomentos disponibles</h4>
        <div class="actions">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <i class="material-icons">filter_list</i>
  </button>
        </div>

        <div class="collapse" id="collapseExample">
          <div class="py-2">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadioN" name="filter_points" value="all" class="custom-control-input" checked>
                      <label class="custom-control-label" for="customRadioN">Todos</label>
                    </div>
                  {% for cat in categories %}
                  <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio{{forloop.counter}}" name="filter_points" value="{{cat.pk}}" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio{{forloop.counter}}">{{cat}}</label>
                    </div>
                  {% endfor %}
          </div>
        </div>
    </div>
    <div id="accordion-points" class="points-list">
        {% for route_point in route_points %}
      <div class="">
        <div class="route-point action-bar" id="routepoint-heading-{{forloop.counter}}" data-pk="{{route_point.pk}}" data-category="{{route_point.category.pk}}">
          <h5 class="mb-0">
              <div class="description">
                  <div class="title">{{route_point.name}}</div>
                  <span class="route-category"> {{route_point.category}} </span>
              </div>

              <div class="actions">
                  <button class="btn btn-link btn-show" data-toggle="collapse" data-target="#routepoint-{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne">
                    <i class="material-icons">visibility</i>
                    </button>

                  <button class="btn btn-link btn-add" data-toggle="collapse">
                    <i class="material-icons">add</i>
                </button>

                  <button class="btn btn-link btn-remove" data-toggle="collapse" style="display:none;">
                    <i class="material-icons">clear</i>
                </button>
              </div>


          </h5>
        </div>

        <div id="routepoint-{{forloop.counter}}" class="collapse" aria-labelledby="#routepoint-heading-{{forloop.counter}}" data-parent="#accordion-points">
            <img src="{{route_point.photo.url}}" class="img-fluid">
          <div class="card-body">
            {{route_point.description|linebreaks}}
              <hr>
          </div>
        </div>
      </div>
        {% endfor %}

    </div>

</div>

<div class="map-route" id="map">

</div>


<div class="infowindow_base hidden">
    <a class="infowindow">
        <div class="profile-circle card">
            <img src="">
        </div>
        <span class="title"></span>
        <span class="address"></span>
    </a>
</div>

{% endblock %}

{% block scripts %}
{% include 'common/include_gmaps.html' %}

<script type="text/javascript">
    var venue_dialog = $('#venue-dialog');
    var map_canvas = $('#map');

    var infoWindow_base = $('.infowindow_base').detach();
    var prev_infowindow = false;
    var noSelected = $('.no-selected-points');
    var summary = $('#route-summary');
    var calculateBtn = $('#calculate-route');

    function initMap() {

            function routeChange(){
                directionsDisplay.setDirections({routes: []});
                summary.hide();
                calculateBtn.show();
            }

            function showActive(){
                var route = $('.collapse.show').prev();
                var routeId = route.attr('data-pk');

                for (marker of route_points){
                    if (marker['pk'] == routeId){
                        marker.setVisible(true);
                        setActive(map, marker, true);
                        centerMap(map, marker);
                    }
                }
            }

            function updateSummary(response){
                var distance = 0;
                var time = 0;
                for (leg of response.routes[0].legs){
                    distance += leg.distance.value;
                    time += leg.duration.value;
                }
                time = Math.round(time/60);
                var duration =  (time > 59) ? (  Math.round(time/60) + ' hora(s) y ') : '' + Math.round(time%60) + ' minutos';
                summary.find('.time').text(duration).attr('data-value', time);
                summary.find('.distance').text((distance / 1000).toFixed(2) + " Km").attr('data-value', distance);
                summary.fadeIn();
                calculateBtn.hide();
            }

            function markerSelected(marker){
                var route = accordion.find('[data-pk="' + marker['pk'] + '"] .btn-show').click();
                console.log(route);
            }

            calculateBtn.on('click', function(){
                if (select_points.length <= 1) return;

                var waypoints = [];
                for (var i=1; i<select_points.length; i++){
                    waypoints.push({
                        'location': select_points[i].getPosition(),
                        'stopover':true
                    });
                }

                directionsService.route({
                       origin:select_points[0].getPosition(),
                       destination: select_points[0].getPosition(),
                        waypoints: waypoints,
                        optimizeWaypoints: true,
                        travelMode: 'BICYCLING'
                    }, function(response, status) {
                  if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                    updateSummary(response);

                  } else {
                    window.alert('Directions request failed due to ' + status);
                  }
                });

            });

            var accordion = $('#accordion-points');
            var selected = $('#selected-points');

            $('input[name="filter_points"]').on('change', function(){
                filter = $(this).val();
                if (filter == 'all'){
                    accordion.find('.route-point').show();
                }
                else{
                    accordion.find('.route-point').hide().filter('[data-category="'+filter+'"]').show();
                }
            });

            accordion.on('shown.bs.collapse', showActive);

            accordion.on('hide.bs.collapse', function(){
                for (marker of route_points){
                    hideMarker(map, marker);
                    setActive(map, marker, false);
                }
                for (marker of select_points){
                    marker.setVisible(true);
                }

                fitBoundsToMarkers(map, (select_points.length == 0));
            });

            accordion.on('click', '.btn-add',  function(){
                var route = $(this).parents('.route-point');
                var routeId = route.attr('data-pk');
                var selectedMarker = null;
                for (marker of route_points){
                    if (marker['pk'] == routeId){
                        marker.setVisible(true);
                        selectedMarker = marker;
                    }
                }
                var found = false;
                for (marker of select_points){
                    if (marker['pk'] == selectedMarker['pk']){
                        found = true;
                        break;
                    }
                }

                if (!found){
                    select_points.push(selectedMarker);
                    selected.append(route.clone().find('.btn').hide().end().find('.btn-remove').show().end());
                    routeChange();
                    noSelected.hide();
                    fitBoundsToMarkers(map, false);
                }
            });

             $('#selected-points').on('click', '.btn-remove',  function(){
                var route = $(this).parents('.route-point');
                var routeId = route.attr('data-pk');
                var selectedMarker = null;
                var markerPosition = 0;
                for (markerPosition=0; markerPosition<select_points.length; markerPosition++){
                    marker = select_points[markerPosition];
                    if (marker['pk'] == routeId){
                        hideMarker(map, marker);
                        selectedMarker = marker;
                        break;
                    }
                }
                if (selectedMarker != null){
                    showActive();
                    route.remove();
                    select_points.splice(markerPosition, 1);
                    routeChange();
                    if (select_points.length <= 1){
                        noSelected.show();
                    }
                }

            });

            map = new google.maps.Map(map_canvas[0], {
                zoomControl: true,
                scaleControl: false,
                streetViewControl: false,
                scaleControl:false,
                styles: vicciMapStyle,
                mapTypeControl:false
            });
            map_canvas.removeClass('loading-container');


            var route_points = [];
            var select_points = [];

            var hotelPosition = new google.maps.LatLng({{ hotel.latitude|unlocalize }}, {{hotel.longitude|unlocalize }});

            var marker = createMarker(map, hotelPosition, {
                    title:'{{ hotel.name }}',
                    address:'{{ hotel.address }}',
                    img:'{{hotel.photo.url}}'
                }, true, false);
            select_points.push(marker);

            {% for route_point in route_points %}

              var venuePosition{{forloop.counter}} = new google.maps.LatLng({{ route_point.latitude|unlocalize }}, {{ route_point.longitude|unlocalize }});
              var marker = createMarker(map, venuePosition{{forloop.counter}}, {
                    title:'{{ route_point.name }}',
                    address:'{{ route_point.address }}',
                    img:'{{ route_point.photo.url }}',
                    pk: '{{ route_point.pk }}'
                }, false, true, markerSelected);

               route_points.push(marker);

            {% endfor %}


           var directionsService = new google.maps.DirectionsService;
           var directionsDisplay = new google.maps.DirectionsRenderer({
           suppressMarkers: true,
            polylineOptions: {
              strokeColor: "#cf821c"
            }
          });
           directionsDisplay.setMap(map);

           fitBoundsToMarkers(map, false);


      }
</script>
{% endblock scripts %}
