{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Momenti ViCCi{% endblock %}

{% block bodyattrs %}  {% endblock%}

{% block content %}

	<header class="jumbo-header" style="background-image: url('{% static 'imgs/momenti-bg.jpg' %}');">
				<div class="container text-center">
					<h1>Momenti ViCCi</h1>
					<h3 class="mb-0">"What a wonderful world"</h3>
					<h4 style="font-weight: lighter;">- Louis Armstrong - </h4>
				</div>

			</header>
<div class="container">
    <p class="my-5">
        <span class="lead"> Los momenti ViCCi son vivencias de dia entero y de medio dia, con recorridos guiados y sitios típicos de las ciudad.</span><br>

Con los momenti ViCCi entenderás la ciudad y a tu pareja a otro nivel, y sobre todo te entenderás mejor a ti.   </p>

</div>

<section class="momenti-panel right">
    <div class="momenti-bg" style="background-image: url('{% static 'imgs/profumo.jpg' %}');"></div>
    <div class="container">
        <div class="content">
        <h2>PROFUMO DI DONNA</h2>

        <p> ¿Hay algo más romántico que un paseo con tu pareja en una ciudad llena de magia? Y es que aunque cada pareja es diferente, hay algo que nunca cambia: a todos nos encanta estar a solas y perdidos con esa persona tan especial en algún lugar recóndito.</p>
<p>Sentir que solo os tenéis el uno al otro es una sensación maravillosa y por eso en ViCCi te vamos a proponer momentos únicos en lugares del mundo llenos de romanticismo.</p>

        <p>Da rienda suelta a tu pasión en sitios llenos de aventuras, historia, curiosidades, atardeceres y, sobre todo, amor.</p>
<p>Y es que además un viaje de estas características puede ser la excusa perfecta para una reconciliación, una pedida de mano con anillo incluido de ensueño o un viaje sorpresa con el que volver a enamorar (todavía más) a tu pareja.

<p>Momentos especiales.</p>
            </div>
    </div>
</section>

<section class="momenti-panel left">
    <div class="momenti-bg" style="background-image: url('{% static 'imgs/storia.jpg' %}');"></div>
    <div class="container">
        <div class="content">
        <h2>LA MIA STORIA TRA LE DITA</h2>

        <p>Momento dedicado para aquellos que sienten algo especial cuando recorren lugares históricos sobre los que han devorado libros, o visto documentales, de forma apasionada....</p>

<p>Durante siglos, arqueólogos e historiadores han trabajado duro para desentrañar los secretos con los que el hombre ha ido dejando su huella en nuestro planeta. Con su esfuerzo han logrado que muchos podamos disfrutar de viajes que van más allá de lugares, paisajes o gentes que lo habitan.</p>

<p>"Son auténticas experiencias vitales que nos trasladan a otras épocas."</p>

        <p>Sitios históricos.</p>
        </div>
    </div>
</section>


<section class="momenti-panel right">
    <div class="momenti-bg" style="background-image: url('{% static 'imgs/ilmondo.jpg' %}');"></div>
    <div class="container">
        <div class="content">
        <h2>IL MONDO</h2>

        <p>"Mira profundamente en la naturaleza y entonces comprenderás todo mejor"<br>
Albert Einstein.</p>

<p>Para todos aquellos que gusten o estén ansiosos de tener contacto directo con la naturaleza les proponemos rincones del mundo donde la naturaleza evoca ese sentimiento de paz, majestuosidad y cercanía que muchos buscan.</p>

<p>-Estar en contacto con la energía de la naturaleza altera positivamente la vibración del cuerpo humano-</p>

<p>Sitios naturales.</p>
        </div>
    </div>
</section>


<section class="momenti-panel left">
    <div class="momenti-bg" style="background-image: url('{% static 'imgs/sapore.jpg' %}');"></div>
    <div class="container">
        <div class="content">
        <h2> SAPORE DI SALE</h2>

        <p>Porque escoger el sitio adecuado pueden marcar la diferencia entre una buena comida y una experiencia memorable.</p>

<p>"Planea tu velada especial y crea un momento que perdurara en la memoria de tu pareja"</p>

<p>Restaurantes exquisitos, comidas típicas.</p>
        </div>
    </div>
</section>


<section class="momenti-panel right">
    <div class="momenti-bg" style="background-image: url('{% static 'imgs/dolcevita.jpg' %}');"></div>
    <div class="container">
        <div class="content">
        <h2>LA DOLCE VITA</h2>

            <p>“Cuida tu cuerpo, es el único lugar que tienes para vivir.” Jim Rohn</p>

<p>Debemos encontrar todos los días momentos para cuidarlo y mimarlo con amor y dedicación.</p>

<p>Sitios de bienestar.</p>
        </div>
    </div>
</section>
{% endblock %}