{% extends 'base.html' %}
{% load staticfiles %}
{% load settings_value %}
{% load l10n %}
{% block title %}{{hotel.name}}{% endblock %}

{% block bodyattrs %}  {% endblock%}

{% block content %}

<div class="route-actions d-none d-lg-block">
    <a href="{%url 'hotel_book' pk=route.hotel.pk %}" class="btn btn-primary btn-action" data-toggle="tooltip" data-placement="bottom" title="Reservar bici"><i class="material-icons">directions_bike</i></a>
</div>

<div class="route-list">
    <div class="route-description">
        <h2>{{route.name}}</h2>
    <p>{{route.description}}</p>
    </div>

    <div class="text-right d-lg-none pr-4">
         <a href="{%url 'hotel_book' pk=route.hotel.pk %}" class="btn btn-primary btn-action" data-toggle="tooltip" data-placement="bottom" title="Reservar bici"><i class="material-icons">directions_bike</i></a>

    </div>

    <div id="accordion">
        {% for point in route_points %}
      <div class="">
        <div class="route-point" id="routepoint-heading-{{forloop.counter}}">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#routepoint-{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne">
              {{point.route_point.name}}
            </button>
          </h5>
        </div>

        <div id="routepoint-{{forloop.counter}}" class="collapse" aria-labelledby="#routepoint-heading-{{forloop.counter}}" data-parent="#accordion">
            <img src="{{point.route_point.photo.url}}" class="img-fluid">
          <div class="card-body">
            {{point.route_point.description|linebreaks}}
          </div>
        </div>
      </div>
        {% endfor %}

    </div>

</div>

<div class="map-route" id="map">

</div>

{% endblock %}

{% block scripts %}
{% include 'common/include_gmaps.html' %}

<script type="text/javascript">
    var venue_dialog = $('#venue-dialog');
    var map_canvas = $('#map');

    function initMap() {

            map = new google.maps.Map(map_canvas[0], {
                zoomControl: true,
                scaleControl: false,
                streetViewControl: false,
                scaleControl:false,
                styles: vicciMapStyle,
                mapTypeControl:false
            });
            map_canvas.removeClass('loading-container');

            var bounds = new google.maps.LatLngBounds();

            var directionsService = new google.maps.DirectionsService;
           var directionsDisplay = new google.maps.DirectionsRenderer({
           suppressMarkers: true,
              polylineOptions: { strokeColor: "#cf821c" }
            });
           directionsDisplay.setMap(map);

            var hotelPosition = new google.maps.LatLng({{ route.hotel.latitude|unlocalize }}, {{route.hotel.longitude|unlocalize }});
            createMarker(map, hotelPosition, {
                    title:'{{ route.hotel.name }}',
                    address:'{{ route.hotel.address }}',
                    img:'{{route.hotel.photo.url}}'
                }, true, false);

            {% for point in route_points %}

              var venuePosition{{forloop.counter}} = new google.maps.LatLng({{ point.route_point.latitude|unlocalize }}, {{ point.route_point.longitude|unlocalize }});
              createMarker(map, venuePosition{{forloop.counter}}, {
                    title:'{{ point.route_point.name }}',
                    address:'{{ point.route_point.address }}',
                    img:'{{point.route_point.photo.url}}'
                }, true, true);

            {% endfor %}

           fitBoundsToMarkers(map, true);

            directionsService.route({
               origin:hotelPosition,
               destination: hotelPosition,
                waypoints: waypoints,
                optimizeWaypoints: false,
                travelMode: 'BICYCLING'
            }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });

      }
</script>
{% endblock scripts %}
