{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{hotel.name}}{% endblock %}

{% block bodyattrs %}  {% endblock%}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/material.timepicker.css' %}" />
{% endblock extra_styles %}

{% block content %}

<header class="jumbo-header py-4" {%if hotel.photo %}style="background-image: url('{{hotel.photo.url}}');"{%endif%}>
    <div class="container">
        <h1>Reservar</h1>
        <h3 class="mb-0">{{hotel.name}}</h3>
    </div>
</header>
<div class="container">

   <div class="stepper-horiz">
      <div class="stepper done" data-toggle="tooltip" data-placement="bottom" title="Lugar">
        <div class="stepper-icon" >
          <i class="material-icons">check</i>
        </div>
      </div>
      <div class="stepper active" data-toggle="tooltip" data-placement="bottom" title="Seleccionar fecha">
        <div class="stepper-icon" >
          <i class="material-icons">event</i>
        </div>
      </div>
      <div class="stepper" data-toggle="tooltip" data-placement="bottom" title="Pago">
        <div class="stepper-icon" >
          <i class="material-icons">payment</i>
        </div>
      </div>
</div>

<div class="row">
    <div class="col-md-6 mb-5">
        <div class="section-header">
            <div class="header-icon"><i class="material-icons">calendar_today</i></div>
            <h4>Cuándo</h4>
        </div>

            <label for="exampleInputDatePicker1">Selecciona el día:</label>
            <input class="form-control" id="exampleInputDatePicker1" placeholder="Fecha" type="text">

    <div class="form-group mt-4">

        <label for="hour-input">Hora de recogida</label>
        <input class="form-control" id="hour-input" placeholder="Hora de recogida" type="text">

    </div>

            <div class="text-center mt-4">
         <h4>Tiempo</h4>
        <div class="btn-group" data-toggle="buttons" role="group">
          <label class="btn btn-outline btn-lg">
            <input autocomplete="off" name="options1" type="radio">
            medio<br>MOMENTI<br><span class="small mt-2 d-block emph">3 horas</span><br>30€
          </label>
          <label class="btn btn-outline btn-lg active">
            <input autocomplete="off" name="options1" type="radio">
            MOMENTI<br>completo<br><span class="small mt-2 d-block emph">Día completo</span><br>42€
          </label>

        </div>

    </div>

    </div>

    <div class="col-md-6">
        <div class="section-header">
            <div class="header-icon"><i class="material-icons">directions_walk</i></div>
            <h4>Quién</h4>
        </div>

        <small>Explicación de por qué se piden datos personales - Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</small>

        <div>
        <div class="viaggatore">
            <i class="material-icons">directions_bike</i>
            <div class="form-group">
                <div class="floating-label">
                    <label for="id_fullname1">Nombre y apellidos</label>
                    <input type="text" name="username" id="id_fullname1" autofocus="" required="" class="form-control" maxlength="150">
                 </div>
             </div>

            <div class="form-group">
                <div class="floating-label">
                    <label for="nif">DNI/NIF/NIE</label>
                    <input type="text" name="nif" id="nif" autofocus="" required="" class="form-control" maxlength="150">
                 </div>
             </div>

            <div class="form-group">
                <div class="floating-label">
                    <label for="birthdate">Fecha de nacimiento</label>
                    <input type="text" name="birthdate" id="birthdate" autofocus="" required="" class="form-control" maxlength="150">
                 </div>
             </div>
        </div>
            </div>
        <div class="text-right">
            <button class="btn btn-secondary btn-lg add-bike"><i class="material-icons">add</i> Añadir viaggatore</button>
        </div>


    </div>
</div>

    <div class="text-center mt-3">
         <br><br><br>
    <button type="submit" class="btn btn-primary btn-lg">Reservar</button>
    </div>

<br><br><br><br><br><br>
</div>


<div class="modal show-at-load">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿Eres huésped del hotel?</h5>
      </div>
      <div class="modal-body">
        <p class="text-black-secondary typography-subheading">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>

          <div class="custom-control custom-switch">
          <input class="custom-control-input" id="customSwitch" type="checkbox">
          <span class="custom-control-track"></span>
          <label class="custom-control-label" for="customSwitch">Soy huésped</label>
        </div>


<input type="text" id="inputPassword5" class="form-control" placeholder="Número de habitación" aria-describedby="passwordHelpBlock">
<small id="passwordHelpBlock" class="form-text text-muted">
  Si sabes tu número de habitación, puedes incluirlo de cara a blablablabla
</small>

      </div>
      <div class="modal-footer">
        <button class="btn btn-outline" data-dismiss="modal" type="button">Omitir este paso</button>
        <button class="btn btn-outline" data-dismiss="modal" type="button">Aceptar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/material.timepicker.js' %}"></script>
<script type="text/javascript">
    $(function(){
        $('#exampleInputDatePicker1').pickdate();

    var timepicker = new TimePicker.TimePicker();
    timepicker.bindInput('#hour-input');

    var bike = $('.viaggatore').clone();
    $('.add-bike').on('click', function(){
        $('.viaggatore').parent().append(bike.clone());
    });

    });
</script>

{% endblock scripts %}